<% include header.ejs %>
<!--links-->
<nav>
    <!--OBD2 page == index-->
    <a href="/">Home</a> <br> <br>
    <a href="/fortnite">Fortnite</a> <br> <br>
    <a href="/mw">COD: Modern Warfare</a> <br> <br>
    <a href="/nba2k20" >NBA 2k20</a> <br> <br>
    <a href="/faker" class="currentActiveLink">Random Name Generator</a> <br> <br>
</nav>

<hr class="linkSeparationHR">

<div class="mainDisplay">
    <h3>
        Faker Generated Name <%= randName %>
    </h3>
</div>

<% include footer.ejs %>