<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/styles.css">                
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <!--HW1 related header information-->
        <meta charset="utf-8">
        <title>Reaper, the Online Monster</title>
        <link href="https://fonts.googleapis.com/css?family=Coda+Caption:800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet"> 

    </head>
    <body>
        <!--Header-->
        <header>
            <h1>ilReaperl --> The Online Legend</h1>
        </header>
        <hr class="mainHeaderHR">
        <!--Main-->
        <main>
    