<% include partials/header.ejs %>
<!--links-->
<nav>
    <a href="/">Home</a> <br> <br>
    <a href="/fortnite" class="currentActiveLink">Fortnite</a> <br> <br>
    <a href="/mw">COD: Modern Warfare</a> <br> <br>
    <a href="/nba2k20">NBA 2k20</a> <br> <br>
    <a href="/faker">Random Name Generator</a> <br> <br>
</nav>

<hr class="linkSeparationHR">


<!--All content lives here-->
<div class="mainDisplay">
    <div class="mainDisplayHeaderPlusPic">
        <h2>Fortnite Monster</h2>
        <img src="/img/.png" alt="image">  <!-- Fortnite picture here -->
    </div>

    <!--Divider between title and following explanitory text-->
    <hr>

    <!-- Explanations and sub h2 headers go here-->
    <h3>Background</h3>
    <p>
        Fornite is a Online Battle Royale FPS multiplayer game where 100 gamers are dropped in an island. They are able to loot resources
        and build in order to get a better angle on their enemys or give them cover while they heal. It has become one of the most popular 
        games of all time. Streamers are getting paid millions just for playing videogames.
    </p>

    <h3>How Do you Win?</h3>
    <p>
        Simple. BE THE LAST MAN STANDING
    </p>

    <h3>How Many Wins do I have?</h3>
    <p>
        I have more than 100 Solo wins and over 500 Squads/Duos wins. As you can see, I play with friends more.
    </p>
    <img src="/img/fornite.jpg" alt="fort"> <!-- Me Winning a Solo Game pic -->



    <h3>Video of My Dominance</h3>
    <p>
        Courtesy of <a href="https://www.youtube.com/watch?v=0LjJBLzkh38">Youtube</a> <br>
 <center> 
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0LjJBLzkh38" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 </center>
        
        <!--</p> -->


</div>

<% include partials/footer.ejs %>