<% include partials/header.ejs %>

<!--links-->
<nav class="navLinks">
    <a href="/index" class="currentActiveLink">HOME</a> <br> <br>
    <a href="/fortnite" >Fornite</a> <br> <br>
    <a href="/mw" >COD:Modern Warfare</a> <br> <br>
    <a href="/nba2k20" >NBA 2k20</a> <br> <br>
    <a href="/faker">Random Name Generator</a> <br> <br>
</nav>

<hr class="linkSeparationHR">

<!--All content lives here-->
    <div class="mainDisplay">
        <div class="mainDisplayHeaderPlusPic">
            <center><h2>Welcome to the amazing home page of the one and Only ilReaperl!</h2>
            <img src="/img/Reaper.jpg" alt="reaper">
            </center>
        </div>

        <!--Divider between title and following explanitory text-->
        <hr>

        <!-- Explanations and sub h2 headers go here-->
        <h3>Background</h3>
        <p>    
            This Page is Solely to show that I like diff videogames along with messing around and stuff. 
        </p>



    </div>

<% include partials/footer.ejs %>