<% include partials/header.ejs %>
<!--links-->
<nav>
    <!--index.html-->
    <a href="/">Home</a> <br> <br>
    <a href="/fortnite">Fornite</a> <br> <br>
    <a href="/mw" class="currentActiveLink">COD: Modern Warfare</a> <br> <br>
    <a href="/nba2k20">NBA 2k20</a> <br> <br>
    <a href="/faker">Random Name Generator</a> <br> <br>
</nav>

<hr class="linkSeparationHR">


<!--All content lives here-->
<div class="mainDisplay">
    <div class="mainDisplayHeaderPlusPic">
        <h2>Call of Duty: Modern Warfare</h2>
        <img src="/img/cod.jpg" alt="MW">
    </div>

    <!--Divider between title and following explanitory text-->
    <hr>

    <!-- Explanations and sub h2 headers go here-->
    <h3>My Background in COD</h3>
    <p> My life has been filled with COD ever since I bought my first xbox when I was in 8th grade
    . That is where my life turned into a potato and i never saw the sun again. 
    I have been playing competitive COD for super long that I am now fully tired of it and never wanna play again
    .Therefore I am a retired veteran with a purple star because of all the anorisms ive gotten from raging at this game.</p>

</div>

<% include partials/footer.ejs %>