<% include partials/header.ejs %>
<!--links-->
<nav>
 
    <a href="/">HOME</a> <br> <br>
    <a href="/fornite">FORTNITE</a> <br> <br>
    <a href="/mw">COD: Modern Warfare</a> <br> <br>
    <a href="/nba2k20" class="currentActiveLink">NBA 2K20</a> <br> <br>
    <a href="/faker">Random Name Generator</a> <br> <br>
</nav>

<hr class="linkSeparationHR">


<div class="mainDisplay">
    <div class="mainDisplayHeaderPlusPic">
        <h2>Best Slasher there is AROUND </h2>
        <img src="/img/slasher.jpeg" alt="2k20">
    </div>

    <!--Divider between title and following explanitory text-->
    <hr>

    <!-- Explanations and sub h2 headers go here-->
    <h3>Park Record</h3>
    <p>Although I started playing 2k just last year, my record is a staggering 850-200 win loss ratio.</p>


</div>

<% include partials/footer.ejs %>